#include <windows.h>
#include <commctrl.h>


#ifdef _WIN32
LANGUAGE 0x09, SUBLANG_DEFAULT
#pragma code_page(1252)
#endif


CompanyListDialog DIALOGEX 0,0,241,304
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,9,0,225,36,0,WS_EX_TRANSPARENT
	DEFPUSHBUTTON	"&Next >",1,124,284,50,14,WS_GROUP
	PUSHBUTTON	"Cancel",9,181,284,50,14
	PUSHBUTTON	"< &Back",12,68,284,50,14
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_DISABLED | WS_GROUP,9,281,225,1
	LTEXT		"",7,2,267,238,10,NOT WS_VISIBLE
	LTEXT		"Please select which company you want to update and click Next",50,12,12,220,8,0,WS_EX_TRANSPARENT
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_DISABLED | WS_GROUP,9,24,225,1
	LISTBOX		1388,13,57,218,211,WS_TABSTOP,WS_EX_TRANSPARENT
	PUSHBUTTON	"C",2,11,284,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE
END


